.MenuSectionList {
  width: 100%;
  overflow-x: scroll;
  position: sticky;
  top: 0px;
}

.menuItem {
  min-width: 33%;
}

.addBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: var(--bg-main-color);
  width: 30px;
  height: 30px;
  line-height: 0;
  background: var(--bg-gradient-main);
  background: var(--bg-linear-main);
}

.addBtn::after {
  content: '+';
  position: absolute;
  color: white;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 0;
}
