.NotificationDropdown {
  margin-left: auto;
}

.notificationIcon {
  width: 100%;
}

.notificationText {
  white-space: nowrap;
}

.avatarIcon {
  width: 100%;
}

.trigger {
  cursor: pointer;
  background: transparent;
  border-style: none;

  &:hover {
    filter: brightness(1.5);
  }
}
