.Switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  display: inline-block;
  height: 29px;
  position: relative;
  width: 64px;
}

.placeholder {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s ease-in-out;
}

.slider:before {
  background-color: #fff;
  bottom: 5px;
  content: "";
  height: 20px;
  left: 5px;
  position: absolute;
  transition: .4s ease-in-out;
  width: 20px;
}

input:checked + .slider {
  background: var(--bg-switcher-gradient-main);
  background: var(--bg-switcher-linear-main);
}

input:checked + .slider:before {
  transform: translateX(34px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

