.ProductDetails {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
}

.inputFile {
  margin-right: 30px;
}

.fileImg {
  border-radius: 5px;
}

.fileTrash {
  margin-left: auto;
}

.inputStack > div {
  width: 100%;
  flex-grow: 1;
}

.saveBtn {
  background: var(--bg-gradient-main);
  background: var(--bg-linear-main);
  color: var(--bg-white-color);
  padding: 10px 80px;
  border-radius: 30px;
}

.switchersWrap {
  padding: 30px 0;
}
